@{
    ViewData["Title"] = "Home Page";
}
<script src="https://cdn.jsdelivr.net/npm/vue"></script>
<div class="text-center">

            <div v-if="1>0.5">HI</div>
            <div v-else>NO~</div>
</div>


<script>
    const ex1=new Vue({
        data:{
            items:[
                 {message:'FOO'},
                {message:'BOO'}
            ]
        }
    })

    ex1.$mount("#test-1")

</script>